{% extends 'base.html' %}

{% block content %}
<div class="container mt-8 mb-3 ">
    <h2 class="mb-4 text-center text-primary" style="font-weight: bold;">Your Tickets</h2>

    {% if tickets %}
    <div class="table-responsive shadow-lg rounded ">
        <table class="table table-bordered  " >
            <thead class="thead-dark text-light bg-primary">
                <tr>
                    <th>Serial No.</th>
                    <th>Subject</th>
                    <th>Department</th>
                    <th>Status</th>
                    <th>Created At</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in tickets %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ ticket.subject }}</td>
                    <td>{{ ticket.deparment }}</td>
                    <td>{{ ticket.get_status_display }}</td>
                    <td>{{ ticket.created_at|date:"d-m-Y H:i:s" }}</td>
                    <td>
                        <a href="{% url 'ticket_detail' ticket.id %}" class="btn btn-primary btn-sm">
                            View
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="alert alert-info text-center shadow-sm rounded py-4 mt-4" role="alert">
        <strong>No tickets found.</strong>
    </div>
    {% endif %}
</div>
{% endblock %}
